* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#hero {
  background-image: url("images/HERO\ 1.jpg");
  background-color: rgb(9 9 9 / 44%);
  background-blend-mode: darken;
  padding: 245px 0 250px;
  margin-bottom: 0.3rem;
  text-align: center;
  height: 40%;
  border-bottom: 2rem solid red;
}

.divOne {
  display: inline-block;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

#title {
  padding: 0%;
  margin-bottom: -1.6rem;
  font-size: 5.8rem;
  font-weight: 900;
  letter-spacing: -1px;
  color: #de041c;
}

#sub-title {
  margin: 0;
  font-size: 3.5rem;
  letter-spacing: -1px;
  color: #fff;
}

#hero-txt {
  color: #fff;
  font-size: 1.2rem;
}

#two {
  display: flex;
  flex-wrap: wrap;
  background-image: url("images/SPLASH\ WATERMARK.png");
  object-fit: cover;
  background-color: rgb(255 255 255 / 90%);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: right;
}

#images-cont {
  width: 50%;
}
#youtube {
  width: 39.5%;
  position: absolute;
  margin-top: 44.5rem;
  margin-left: 36.5rem;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.5);
}

#skills-cont {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem;
  margin-top: 15rem;
}

#first {
  margin: 0.3rem;
  margin-left: 0;
  width: 36em;
}

#second {
  height: 17rem;
  margin-bottom: -3.5rem;
}

#third {
  margin-bottom: 3.7em;
  max-width: 50rem;
  max-height: 17rem;
}

#fourth {
  margin: 0.3rem;
}

#fifth {
  margin: 0.3rem;
  margin-left: 0%;
}
h4 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: -1rem;
}

h3 {
  border-bottom: 4px solid rgb(0, 0, 0);
  width: 116.5%;
  color: red;
  font-size: 3rem;
  padding-bottom: 1rem;
}

#regTxt {
  font-weight: 400;
  margin-top: 1rem;
}

#warning-text {
  color: red;
  font-weight: 500;
}

@media screen and (max-width: 1920px) {
  #two {
    text-align: center;
  }

  #youtube {
    margin-left: 0;
    left: 30%;
    width: 40%;
  }

  #images-cont {
    display: none;
  }

  #skills-cont {
    width: 100%;
  }

  h3 {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #youtube {
    margin-left: 0;
    left: 30%;
    top: 10rem;
    right: 25rem;
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  #hero {
    width: 150%;
  }
  #two {
    width: 150%;
  }
  #divOne {
    width: 75%;
  }
  #youtube {
    margin-left: 0;
    width: 20em;
    top: 20%;
  }

  #skills-txt {
    margin-right: 7rem;
  }
}
